#######################################
###    SIPBOT CONFIGURATION FILE    ###
#######################################
# 
# Each configuration line is written as 
# variable_name = variable_value 
#
# E.G.: reg_info = sip:foo@bar.com
#
# Every line starting with # is a comment :)
#
# ------------------------------------


# "Registration info" parameter
reg_info = sip:USERID@sip.messagenet.it

# Registraton host
reg_host = sip:sip.messagenet.it:5061

# User id
reg_user = USERID

# Password
reg_pass = PASSWORD

# Registration timeout, use something like 3600 if you have a static IP
# or something like 180 if you have a dynamic IP
reg_timeout = 3600

# Program which will handle every call
# (Remember to mark it as executable, chmod +x filename)
program_name = ./scripts/al.php

